body{
      font-family: 'Kablammo', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
padding-top: 50px;
margin: 0px;
}


.text-color{
      color: rgba(255, 166, 0, 0.826);
}
.border{
      border: 5px solid;
      text-align: center;
      padding-top: 210px;
      background-color: bisque;
}

.font{
      font-size: 40px;

}

#photo{
      width: 700px;
      height: 700px;
      padding-left: 100px;      
}
#Healty{
      
      padding-left: 320px;
      font-size: 40px;
      color: rgb(6, 6, 56);
      
}

#order{
      color:white;
      background-image: linear-gradient(rgb(98, 66, 8), tomato);
      text-decoration: none;
      border-radius: 10px;
      font-size: 25px;
      font-family:Georgia, 'Times New Roman', Times, serif;
}


.frist{
      display: flex;
      padding-bottom: 300px;
}

.frist-two{
      display: flex;
      background-image: url(images/Frame\ 58.jpg);
      font-size: 30px;
      text-align: justify;
}
#ex{
      font-size: 40px;
      color: rgb(24, 3, 64);
      width: 400px;
      padding-left: 600px;
}
.gallary{
      
      border: 10px solid rgb(41, 2, 100);
      border-radius: 10px;
      box-shadow: 5px 5px 5px  rgb(109, 108, 108);
     margin:30px;
     float: left;
     text-align: center;
     font-size: 30px;
     color: darkred;
    padding: 10px;
    padding-bottom: 30px;

}
.info{
      font-size: 40px;
      border: 5px solid rgb(105, 48, 204);
      border-radius: 4px;
      background-color: antiquewhite;
      width: 150px;
      margin: 10px;
      text-align: center;
}
.bodd{
      display: flex;
}
footer{
      color: rgb(150, 107, 20);
      background-color: #000080;
      padding-left: ;
}