body{
      font-family: 'Kablammo', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
.text-color{
      color: rgba(255, 166, 0, 0.826);
}